<%- include('comments/head.html') %>
<script type="text/javascript" src='/js/jquery.min.js'></script>
<!-- END header -->
<!-- content-->
<!-- title -->
<div class="wrap wrap_white">
    <div class="container title">
        <h1 class="title__h1 underscore"><%= title %></h1>
    </div>
</div>
<!-- END title -->

<div class="wrap wrap_gray pt20">
    <div class="container">
        <div class="row">
            <div class="wrap-thumbnail">
                <div class="thumbnail">
                    <div class="container">
                        <div class="row">
                            <table class="table table-hover table-border">
                                <thead>
                                <th>分类</th>
                                <th>时间</th>
                                <th>查看</th>
                                <th>更新</th>
                                <!--   <th>录入时间</th> -->
                                <th>删除</th>

                                </thead>
                                <tbody>
                                <% for (var i = 0; i < categories.length; i++) { -%>
                                <tr class="item-id-<%= categories[i].id %>">
                                    <td><%= categories[i].name %></td>
                                    <td><%= categories[i].meta.updateAt %></td>
                                    <td>
                                        <a  href="#">查看</a>
                                    </td>
                                    <td>
                                        <a href="#">修改</a>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger del" type="button"
                                                data-id="<%=categories[i].id%>">删除</button>
                                    </td>
                                </tr>
                                <% } -%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src='/js/admin.js'></script>
<!-- END content-->
</div>
<!-- Footer -->
<%- include('comments/foot.html') %>