<%- include('comments/head.html') %>
                <!-- END header -->
                <!-- content-->
                <!-- title -->
                <div class="wrap wrap_white">
                    <div class="container title">
                        <h1 class="title__h1 underscore">Economy</h1>
                    </div>
                </div>
                <!-- END title -->
                <div class="wrap wrap_gray pt20">
                    <div class="container">
                        <div class="row">
                            <div class="wrap-thumbnail">
                                <div class="thumbnail">
                                    <div class="thumbnail__news news">
                                        <p class="news__category underscore">Economy</p>
                                        <a href="" class="news__caption">Can explode at anytime: Scientists reveal giant sinkhole to appear in Siberia</a>
                                        <p class="news__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                            commodo consequat.</p>
                                        <p class="news__desc"><strong>Can explode at anytime: Scientists reveal giant sinkhole to appear in Siberia</strong></p>
                                        <p class="news__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores ea fuga inventore laudantium, minima non quam repellat temporibus voluptatem. Ab accusantium ad aliquid aperiam beatae consequatur cumque
                                            deleniti distinctio dolorem doloremque ducimus ea eaque enim eos error esse est explicabo fugit incidunt inventore ipsam, laborum laudantium magni nam, odit omnis praesentium quaerat quam, quia quidem recusandae
                                            similique soluta temporibus totam velit veritatis voluptatibus. Architecto culpa dolorem inventore minima officiis optio, sit? Ab aliquid assumenda dolores facilis, fugiat hic illum laudantium maiores minus
                                            nam nemo nihil nulla, quae quia sint, ullam ut. Animi atque debitis fugiat, id incidunt labore porro quasi recusandae! Assumenda dolor eligendi fugiat iusto labore quisquam saepe voluptas voluptates. Adipisci
                                            amet architecto aut commodi cum deserunt dolore doloremque ea esse et eum expedita explicabo itaque iure modi numquam odio optio possimus praesentium quae, quaerat quam quo repellendus tenetur veniam vero voluptatem
                                            voluptates. Aliquam debitis explicabo fuga voluptatem.
                                        </p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END content-->
            </div>
            <!-- Footer -->
<%- include('comments/foot.html') %>